.watercolorPaperTexture1Icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 900px;
    object-fit: cover;
    z-index: -5;
  }
  .watercolorPaperTexture2Icon,
  .watercolorPaperTexture3Icon,
  .watercolorPaperTexture4Icon {
    position: absolute;
    top: 900px;
    left: 0;
    width: 1440px;
    height: 900px;
    object-fit: cover;
    z-index: -5;
  }
  .watercolorPaperTexture3Icon,
  .watercolorPaperTexture4Icon {
    position: absolute;
    top: 1800px;
    z-index: -5;
  }
  .watercolorPaperTexture4Icon {
    position: absolute;
    top: 2700px;
    z-index: -5;
  }
  .watercolorPaperTexture5Icon,
  .watercolorPaperTexture6Icon,
  .watercolorPaperTexture7Icon {
    position: absolute;
    top: 3592px;
    left: 0;
    width: 1440px;
    height: 900px;
    object-fit: cover;
    z-index: -5;
  }
  .watercolorPaperTexture6Icon,
  .watercolorPaperTexture7Icon {
    position: absolute;
    top: 4492px;
    z-index: -5;
  }
  .watercolorPaperTexture7Icon {
    position: absolute;
    top: 5392px;
    z-index: -5;
  }

  
  .plantShop {
    position: absolute;
    background-color: var(--color-white);
    width: 103.7%;
    /* height: 5651px; */
    /* margin-left: 0px; */
    transform: translateX(-50px);
    overflow: hidden;
    /* overflow-x: hidden; */
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-darkslategray);
    font-family: var(--font-montserrat);
  }

  .shopByCategory{
    /* position: absolute; */
    margin-top: 200px;
    /* top: 2194px;
    left: 588px; */
    z-index: 5;
    text-align: center;
    font-size: var(--font-size-9xl);
  }
  
  .newArrivalsParent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;


  }

  .newArrivalsParentCenterer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
  }

  .shopTitle{
    margin-top: 180px;
    margin-left: 50px;
  }

  .imageContainer{

    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
  }

  .imageContainerCenterer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-left: 23px;
  }

  .plantShopChild{
    width: 320px;
  }

  .priceContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5px; */
  }

  /* .priceContainer:nth-child(0){
    margin-left: 20px !important;
  } */

  .div8{
    margin-left: 20px;
  }

  .div7, .div8{
    font-weight: 500;

  }

  /* .starRating{
    margin-top: 10px;
  } */

  .loremIpsumDolor1{
    font-weight: 600;
  }