.single-product{
  margin-top: 0px;
  margin-bottom: 0px;
}

.single-product .col-2 img{
  padding: 0;

}

.single-product .col-2{
  padding: 40px;
}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;


}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 340px;
  margin-top: 20px;
  border: 1px solid #25523b;
}

.single-product input:focus{
  outline: none;
}

.single-product .fa{
  color: #25523b;
  margin-left: 10px;

}

.small-img-row{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.product-details-container{
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 100px;
}

.row{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;

}


.col-2{
  flex-basis: 50%;
  min-width: 300px;
  margin-top: 0px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;

}

.col-2 p{
  text-align: left !important;
}

.col-2 h1{
  text-align: left !important;
}

.col-2 h3{
  text-align: left !important;
}

.col-2 h4{
  text-align: left !important;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}


.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  min-height: 410px;
  margin-bottom: 50px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.star-rating{
  display: flex;
  color: #bebebe;
  flex-direction: row-reverse;
}

.star-rating .fa-star{
  font-size: 40px;
  color: #bebebe;
  cursor: pointer;
  transition: 0.5s;
}
/*set active star color*/
.star-rating .fa-star.is-active{
  color:yellow;
}
/*set color on hover*/
.star-rating .fa-star:not(.is-active):hover{
  color: orange;
}

.star-rating .fa-star:hover{
  color: orange;
}
.star-rating .fa-star:hover ~ .fa-star{
  color: yellow;
}

.ratings-wrapper{
  position: absolute;
  margin-top: 85px;
 display: flex;
 justify-content: center;
 align-items: flex-start;
 flex-direction: column;
 margin-bottom: 200px !important;
}


