.watercolorPaperTexture1Icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 900px;
    object-fit: cover;
    z-index: -5;
  }
  .watercolorPaperTexture2Icon,
  .watercolorPaperTexture3Icon,
  .watercolorPaperTexture4Icon {
    position: absolute;
    top: 900px;
    left: 0;
    width: 1440px;
    height: 900px;
    object-fit: cover;
    z-index: -5;
  }
  .watercolorPaperTexture3Icon,
  .watercolorPaperTexture4Icon {
    position: absolute;
    top: 1800px;
    z-index: -5;
  }
  .watercolorPaperTexture4Icon {
    position: absolute;
    top: 2700px;
    z-index: -5;
  }
  .watercolorPaperTexture5Icon,
  .watercolorPaperTexture6Icon,
  .watercolorPaperTexture7Icon {
    position: absolute;
    top: 3592px;
    left: 0;
    width: 1440px;
    height: 900px;
    object-fit: cover;
    z-index: -5;
  }
  .watercolorPaperTexture6Icon,
  .watercolorPaperTexture7Icon {
    position: absolute;
    top: 4492px;
    z-index: -5;
  }
  .watercolorPaperTexture7Icon {
    position: absolute;
    top: 5392px;
    z-index: -5;
  }
  
  
  .plantShop {
    position: absolute;
    background-color: var(--color-white);
    width: 103.7%;
    /* height: 5651px; */
    /* margin-left: 0px; */
    transform: translateX(-50px);
    overflow: hidden;
    /* overflow-x: hidden; */
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--color-darkslategray);
    font-family: var(--font-montserrat);
  }
  
  .mainPlantImage{
    width: 425px;
    margin-top: 150px;
  }

  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  
  }

  .col-2{
    flex-basis: 50%;
    min-width: 300px;
    /* display: flex;
    flex-direction: column; */
  }

  
.location{
    width:80%;
    margin: auto;
    padding: 80px 0;
  }
  .location iframe{
    width: 100%;
  
  }
  
  .contact-us{
    width: 80%;
    margin: auto;
  
  }
  
  .contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
  
  .contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .contact-col div p{
    padding: 0;
    text-align: left;
  }
  
  .contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    margin-left: 0;
    text-align: left;
    /* margin-right: 90px; */
  }
  
  .contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #389b68;
    box-sizing:border-box;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    resize: none;
  }

  .contact-col textarea{
    margin-left: 40px;
  }
  
  .contact-col div .fa{
    display: block;
    margin-right: 20px;
    cursor:pointer;
    font-size: 23px;
    color: #25523b;
  }
  
  hr.line{
    width: 160px;
    border: none;
    background: #25523b;
    height: 3px;
    margin-top: 8px;
    text-align: center;
    margin: auto;
  }
  
  .contact-container{
    margin-top: 40px;
    text-align: center;
    align-items: center;
  }
  
  .row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .contact-btn{
    border: 1px solid #ccc;
    margin-right: 395px;
    margin-top: 40px;
    border-radius: 0;
    width: 145px;
    height: 45px;
    font-size: 16px;
    cursor:pointer;
  }

  .all-contact-us-container{
    margin-top: 175px;
    padding-bottom: 150px;
    margin-left: 10px;
  }

